!!!5
%html
  %head
    - if site.assets_dev
      = "{{ 'app' | javascript }}"
      = "{{ 'app' | stylesheet }}"
      %meta{bg_path: "{% asset_path bg.jpg %}"}
    - else
      = "{% include assets.html %}"
    %title= "Caligari <> {{page.title}}"
  %body
    %header
    #content
      #page{class: "{{page.path | split: '.' | first }}"}= "{{content}}"
      %nav#navigation= "{% include navigation.html %}"
    %footer
